.parent {
  position: absolute;
  padding: 0px;
  min-height: 400px;
}
.props {
  overflow: auto;
}
.component {
  overflow: auto;
  background-color: #f7f7f7;
  -webkit-overflow-scrolling: touch;
}
.axis-x .component {
  white-space: nowrap;
}
